@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/scss/image-gallery.scss";

@import "~react-image-gallery/styles/css/image-gallery.css";

button{
    background:#3BB296;
}
h4{
    font-size:16px;
    color:#096D56;
    font-weight:700;
}